<p id="notice"><%= notice %></p>
<a href="/listings" class="btn btn-primary" role="button">Men</a><a href="/sistings" class="btn btn-primary" role="button">Women</a><a href="/kistings" class="btn btn-primary" role="button">Kids</a>





<div class="center">
 <div class="row">
 <% @kistings.each do |listing| %>
 <div class="col-md-3">
   <div class="thumbnail">
    <%= link_to image_tag(listing.image.url), listing %>
     
        <div class="caption">
        <h3><%= listing.name %></h3>
        <p><%= number_to_currency(listing.price, unit: "UGX  ") %></p>
        
        
        
        
      </div>
  </div>


</div>
<% end %>
</div>
</div>

<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_kisting_path, class: "btn btn-link" %>
<% end %>