<div class="row caption">
	<div class="col-md-6">
		<p align="center"><%= @kisting.name %></p>
		<p align="center"><%= number_to_currency(@kisting.price) %></p>
		<p align="center"><%= @kisting.description %></p>
		<div class="thumbnail">
	<%= image_tag @kisting.image.url %>
</div>
	</div>
	<div class="col-md-6">
		
		<br>
		
	</div>
</div>


<%= link_to 'Edit', edit_kisting_path(@kisting) %> |
<%= link_to 'Back', kistings_path %>
