<div class="container">

<div class="col-sm-6">
	<div class="white">
<h3>	DO MORE THAN SHOPPING </h3>
	</br>
	<p>
With a New Legacy member’s card, our customers get to enjoy a variety of benefits that include amazing discounts on a variety of items, Earning up to 10% in Cash Backs on all purchased items throughout a value month, plus sharing member coupons and Ids with all friends and family.
</p>
</br>
<p>
All New Legacy Members can also earn great Commissions and bonuses through becoming new legacy Brand ambassadors and sharing about us with their world.
</p>
<h3> BECOME A MEMBER </h3>
</br>
All individuals can apply and sign up for a new legacy Membership. This can be done in 3 easy steps;
</br>
1.	Select a membership Package.
New legacy offers three members’ packages which vary in commission remuneration as well as access to various discounts and bonuses.
</br>
</br>

</div>
</div>


<div class="col-sm-6">
	<div class="thumbnail nn">
	<%= link_to image_tag("shop.jpg") %>
</div>

</div>	
</div>






<div>
<div class="col-sm-4">
	 <div class="thumbnail nn">
      <%= link_to image_tag("silver.jpg") %>

      
    </div>
    <div class="caption">
        
              <div class="center">
      <h3>Silver Package</h3>
        <P>UGX 70,000</P>

     </div> 
        
      
      </div>


</div>
<div class="col-sm-4">
	 <div class="thumbnail nn">
      <%= link_to image_tag("gold.jpg") %>

      
    </div>

  <div class="caption">
    <div class="center">
      <h3>Gold Package</h3>
        <P>UGX 150,000</P>
     </div> 
        
        
      
      </div>
</div>
<div class="col-sm-4">
	 <div class="thumbnail nn">
      <%= link_to image_tag("plat.jpg") %>

     
    </div>
    <div class="caption">
                <div class="center">
       <h3>Platinum Package</h3>
        <P>UGX 300,000</P>

     </div> 
        
      
      </div>
</div>
</div>

	

<div class="container">

<div class="col-sm-6">
	<div class="white">
	</br>
</br>
   <p> 2.	Fill out a New Legacy member’s application form.</p>
   </br>
   <p>
After selecting a membership package, all applicants will have to fully fill out a membership application form highlighting; Personal details, up line referee, sponsor details as well as selected entry package. This can be done remotely or by visiting any one of our outlets or offices.
</p>
</br>

   <p> 3.	Make and Confirm Payment. </p></br>
<p>After filling out a members application form, the applicant will then make payments to New Legacy through a selected mode of payment; this can be done by Physical cash delivery at any new legacy outlet, using mobile money to a selected transaction number or making a deposit straight to the new legacy account.
The applicant will then confirm the payment which will then be processed and approved by new legacy management.</p>

<p>
	Upon approval, the applicant will then receive a personalized New Legacy members Card highlighting their names and a unique members code (number) as well as a copy of the company profile and the new legacy marketing plan.

</p>



	</div>


</div>

<div class="col-sm-6">
	<div class="thumbnail nn">
	<%= link_to image_tag("sign.jpg") %>
</div>
	
</div>
</div>		













 


<div class="container">

<div class="col-sm-6">
	<div class="white">
	<h3>	THE BENEFITS </h3>
</br>
   <p> Member Discounts</p>
   </br>
   <p>

All new legacy members get to save big through enjoying amazing discounts of up to 30% on different items. Member discounts vary in categorization (Luxury, copy & used) as well as from item to item.
</p>
</br>

   <p> Cash Backs </p></br>
<p>New legacy members get to enjoy another great way of saving through accumulated monthly cash backs on all purchased items purchased in a new legacy Value month (1st – 30th @ month)
New legacy refunds 10% in cash off all purchases that our members make in a value month. This is not only a great way to save but also an amazing way to earn while shopping.</p>


<p> Customer referral commissions </p></br>
<p>
	Sharing is caring, we at new legacy believe in sharing and we will pay you for doing just that. Share us with your world and we will compensate your efforts.
    Members are availed with a unique way of earning through making purchase referrals and sales.
    Once a new legacy member refers a new customer and a sale is recorded, they will be rewarded with a Customer referral commission which is 10% off all direct sales referrals. Share us with your family, friends and strangers and earn big commissions once sales are recorded.

</p>



<p> New Member referral commissions </p></br>
<p>
	
Our module of business encourages consumer to consumer marketing, thus new Legacy encourages its new members to make an effort of referring as many new members as possible. Once a New legacy member refers a new member, they will earn a Members Referral commission of 10% off the new member’s entry package.

</p>



	</div>


</div>

<div class="col-sm-6">
	<div class="thumbnail nn">
	<%= link_to image_tag("shop1.jpg") %>
</div>
<div class="thumbnail nn">
	<%= link_to image_tag("shop2.jpg") %>
</div>
<div class="thumbnail nn">
	<%= link_to image_tag("shop3.jpg") %>
</div>
	
</div>
</div>	