<div class="row caption">
	<div class="col-md-6">
		<h3><%= @sisting.name %></h3>
		<p><%= number_to_currency(@sisting.price) %></p>
		<p><%= @sisting.description %></p>
		<div class="thumbnail">
	<%= image_tag @sisting.image.url %>
</div>
	</div>
	<div class="col-md-6">
		
		<br>
		
	</div>
</div>


<%= link_to 'Edit', edit_sisting_path(@sisting) %> |
<%= link_to 'Back', sistings_path %>
